# Misc
.DS_Store

# Dependencies
node_modules/
.npm

# Outputs
build
!sh/build
coverage
documentation
.eslintcache
tsconfig.tsbuildinfo
flamegraph.html

# IDEs
.idea

# Logs
logs
*.log
*.log.*
npm-debug.log*
*.dump

# Secrets
*.secret.*
*.secret

# Temporary
*.temp.*
*.temp
*.tmp.*
*.tmp

# Local
*.local.*
*.local

# Env
*.env
.env
*.env.*
*.envrc*
